<style>
    #categoryLink:hover{
        color: orange;
    }
</style>

<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian" ><!--category-productsr-->
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a id="categoryLink" href="/products">همه</a></h4>
          </div>
      </div>
      {% for category in object_list %}
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a id="categoryLink" href="/products/{{ category.slug }}">{{ category }}</a></h4>
              </div>
          </div>
      {% endfor %}
</div><!--/category-productsr-->
