{% extends 'shared/_MainLayout.html' %}

{% block content %}
    	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-4">
					<div class="login-form"><!--login form-->
						<h2>ورود به حساب کاربـری :</h2>
						<form method="post">
                            {% csrf_token %}
                            <label for="{{ loginform.username.id_for_label }}">{{ loginform.username.label }}</label>
                            {{ loginform.username }}
                            {% for i in  loginform.username.errors %}
                                <p class="text-danger"  style="font-size: 15px">{{ i }}</p>
                            {% endfor %}

                            <label for="{{ loginform.password.id_for_label }}">{{ loginform.password.label }}</label>
                            {{ loginform.password }}
                            {% for i in  loginform.password.errors %}
                                <p class="text-danger"  style="font-size: 15px">{{ i }}</p>
                            {% endfor %}

                            <p> رمز عبور خود را فراموش کرده اید؟<a href="#"> بازیابی رمز عبور</a></p>
							<button type="submit" class="btn btn-default">ورود</button>
                            <div style="margin-top: 10px">
                               <p>حساب کاربری ندارید؟ <a href="{% url 'register' %}" class="text-link" > ایجاد کنید...</a></p>
                            </div>
                            <br>
                            {{ loginform.captcha }}
						</form>
					</div><!--/login form-->
				</div>
			</div>
		</section>
	</div>
	<!--/form-->
{% endblock %}