<ul class="list-group">
    <li class="list-group-item"><a href="/admin" class="btn"> <i class="fa fa-unlock"></i>&nbsp; پنل ادمین</a></li>
    <li class="list-group-item"><a href="{% url 'edit' %}" class="btn  "> <i class="fa fa-user"></i>&nbsp; ویرایش اطلاعات</a></li>
    <li class="list-group-item"><a href="{% url 'user-open_order' %}" class="btn  "> <i class="fa fa-shopping-cart"></i>&nbsp; سبد خرید</a></li>
    <li class="list-group-item"><a href="{% url 'favorite-products' %}" class="btn "> <i class="fa fa-heart"></i>&nbsp; لیست علاقمندی ها </a></li>
    <li class="list-group-item"><a href="#" class="btn "> <i class="fa fa-save"></i>&nbsp; محصولات خریداری شده</a></li>
    <li class="list-group-item"><a href="{% url 'support' %}" class="btn "> <i class="fa fa-desktop"></i>&nbsp; پشتیبانی </a></li>
    <li class="list-group-item"><a href="{% url 'logout' %}" class="btn btn-warning btn-block" id="exit">خروج</a></li>
</ul>