{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
    <title>صفحه اصلی | فروشگاه خوشتیپ کالا</title>
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slide in slider %}
                                <li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}" class="{{ forloop.first|yesno:"active," }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slide in slider %}
                                <div class="item {{ forloop.first|yesno:"active," }}">
                                    <div class="col-sm-6">
                                        <h1> {{ slide.title }} <span>{{ slide.titleWhite }}</span></h1>
                                        <p style="margin-top: 20px">{{ slide.desc|truncatechars:200}}</p>
                                        <a class="btn btn-default get" href="{{ slide.get_absolute_url }}">بیشتر</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img style="height: 400px" src="{{slide.image.url}}" class="girl img-responsive" alt="" />
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                 <br><br><br>
                 {% render_partial 'most-visited-product-partial' %}
                 {% render_partial 'latest-product-partial' %}
                <div class="col-sm-12 padding-right">
                    <br><br><br>
                    {% render_partial 'category-home-product-partial' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}