{% load static %}
<div class="footer-Before">
    <div class="container">
        <div class="block-news">
            <div class="row">
                <h3>با عضویت در خبـرنامه ما از تخفیفات ویـژه ما با خبـر شوید ... </h3>
                <div class="searchform newslatter">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ newsletteremailform.email }}
                        {{ newsletteremailform.captcha }}
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-arrow-circle-o-left"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% if emailStatus == 1 %}
        alert('ایمیل شما با موفقیت دریافت شد');
    {% elif emailStatus == -2 %}
        alert('ایمیل شما قبلا ثبت شده است');
    {% elif emailStatus == -1 %}
        alert('ایمیل وارد شده صحیح نمیباشد');
    {% else %}
    {%endif%}
</script>





