<ul class="pagination" style="display: block">
{% if searchFlag %}
        {% if page_obj.has_previous %}
            <li class=""><a href="/products/search?query={{ request.GET.query }}&page={{ page_obj.previous_page_number }}">قبلی</a></li>
        {% endif %}
            {% if page_obj %}
                {% for page in paginator.page_range %}
                       <li class="{% if page == page_obj.number %}active{% endif %}"><a href="/products/search?query={{ request.GET.query }}&page={{ page }}">{{ page }}</a></li>
                {% endfor %}
            {% endif %}
        {% if page_obj.has_next %}
            <li class=""><a href="/products/search?query={{ request.GET.query }}&page={{ page_obj.next_page_number }}">بعدی</a></li>
        {% endif %}

{% else %}

       {% if page_obj.has_previous %}
            <li class=""><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
        {% endif %}
            {% if page_obj %}
                {% for page in paginator.page_range %}
                    <li class="{% if page == page_obj.number %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
            {% endif %}
        {% if page_obj.has_next %}
            <li class=""><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
        {% endif %}
{% endif %}

</ul>