{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
    <style>
    .taglink:hover{
        text-decoration:underline
    }
    </style>
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{product.image.url}}" style="box-shadow: 0px 0px 2px orange;margin:3px " alt="">
							<!--	<h3>بزرگنمایـی</h3> -->
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                      {% for gallery_list in product_gallery %}
                                          <div class="item {{ forloop.first|yesno:"active," }}">
                                              {% for gallery in gallery_list %}
                                                  <a href=""><img src="{{ gallery.image.url }}" alt="{{ gallery.title }} " style="width: 85px;height: 90px"></a>
                                              {% endfor %}
                                          </div>
                                      {% endfor %}
                                  </div>
								  <!-- Controls -->
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
								<div>
									<h2>{{ product.title }}</h2>
									<p> کد محصول: {{ product.objid }} </p>
								</div>
								<div>
									<span>
										<span>قیمت : {{ product.price}} هزار تومان </span>
									</span>
									<span>
										<label>تعداد :</label>
										<input type="text" value="3" class="search_box">
										<button type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبـد خریـد
										</button>
									</span>
								</div>
								<div>
                                    {% if product.beExist == 'True' %}
                                        <p>
                                            <strong>موجودی:</strong>  <span style="color: green;text-shadow: 0px 0px 10px green">در انبار موجود میباشد</span>
                                        </p>
                                    {% else %}
                                        <p>
                                            <strong>موجودی:</strong>  <span style="color: red;text-shadow: 0px 0px 10px red">در انبار موجود نمیباشد</span>
                                        </p>
                                    {% endif %}



									<p><b>فروشنده :</b> {{ product.seller.shopName   }}</p>
									<p><b>برنـد :</b> {{ product.brand.title }} </p>
									<p><b>دوختِ :</b> {{ product.brand.country }} </p>
								</div>
								<span class="socials-share share">
									<ul>
										<a href="https://t.me/{{ product.seller.telegram }}">
											<li>
												<label>تلگرام</label>
												<img src="{% static 'images/product-details/Telegram.png' %}">
											</li>
										</a>
										<a href="https://t.me/{{ product.seller.soroush }}">
											<li>
												<label>سـروش</label>
												<img src="{% static 'images/product-details/Soroush.png' %}">
											</li>
										</a>
										<a href="https://instagram.com/{{ product.seller.instagram }}">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static 'images/product-details/Instagram.png' %}">
											</li>
										</a>
										<li><img src="{% static 'images/product-details/rating.png' %}" alt=""></li>
									</ul>
								</span>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">نظرات (5)</a></li>
								<li><a href="#companyprofile" data-toggle="tab">درباره سازنده</a></li>
								<li><a href="#tag" data-toggle="tab">برچسب</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">جزئیات</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="companyprofile">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="tag">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery.jpg' %}" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
									</ul>
                                    <pre >{{ product.desc }}</pre>

                                    {% for tag in product.tags.all %}
                                        <span style="margin: 3px;padding: 4px;border-radius: 5px;background-color: orange;color: white">
                                            <a href="/products/search?query={{ tag }}" class="taglink" style="color: white;font-size: 15px"># {{ tag}}</a>
                                        </span>
                                    {% endfor %}
                                    <br><br><br>
									<p><b>نظـر خود را بنویسیـد</b></p>

									<form action="#">
										<span>
											<input type="text" placeholder="نام و نام خانوادگـی">
											<input type="email" placeholder="آدرس ایمیـل">
										</span>
										<textarea name=""></textarea>
										<b>رتبـه : </b> <img src="{% static 'images/product-details/rating.png' %}" alt="">
										<button type="button" class="btn btn-default pull-left">
											ارسـال
										</button>
									</form>
								</div>
							</div>

						</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">محصولات پیشنهادی</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item next left">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="">
													<h2>1.250.000 ريال</h2>
													<p>توضیحات کوتاه محصول</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="item active left">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="">
													<h2>1.250.000 ريال</h2>
													<p>توضیحات کوتاه محصول</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
												</div>
											</div>
										</div>
									</div>
			                         <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="">
													<h2>1.250.000 ريال</h2>
													<p>توضیحات کوتاه محصول</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
												</div>
											</div>
										</div>
									</div>
                                    <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="">
													<h2>1.250.000 ريال</h2>
													<p>توضیحات کوتاه محصول</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                            {% render_partial 'CategoryList_partial' %}
                            {% render_partial 'BrandList_partial' %}

						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <div class="slider slider-horizontal" style="width: 139px;"><div class="slider-track"><div class="slider-selection" style="left: 0.025%; width: 0.02%;"></div><div class="slider-handle round left-round" style="left: 0.025%;"></div><div class="slider-handle round" style="left: 0.045%;"></div></div><div class="tooltip top" style="top: -30px; left: -33.4513px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
								 <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
							</div>
						</div><!--/price-range-->


					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}