{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
    <title>جزئیات {{ product.title }} | فروشگاه خوشتیپ کالا</title>
    <style>
        .taglink:hover{
            text-decoration:underline
        }

        #orderlistbutton:active{
             background-color: #ca8506;
        }
    </style>
    <br>
    <hr>

    <br>
    <hr>
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{product.image.url}}" style="box-shadow: 0px 0px 2px orange;margin:3px " alt="">
							<!--	<h3>بزرگنمایـی</h3> -->
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                      {% for gallery_list in product_gallery %}
                                          <div class="item {{ forloop.first|yesno:"active," }}">
                                              {% for gallery in gallery_list %}
                                                  <a href=""><img src="{{ gallery.image.url }}" alt="{{ gallery.title }} " style="width: 85px;height: 90px"></a>
                                              {% endfor %}
                                          </div>
                                      {% endfor %}
                                  </div>
								  <!-- Controls -->
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
								<div>
									<h2>{{ product.title }}</h2>
									<p> کد محصول: {{ product.objid }} </p>
								</div>
								<div>
									<span>
										<span>قیمت : {{ product.get_price_seperated|last}}  تومان </span>
									</span>

									<span>
                                    {% include 'components/add_order_form_component.html' with orderdetailform=orderdetailform request=request product=product %}
                                    {% include 'components/favorite_product_components.html' with favoriteform=favoriteform favoriteproduct=favoriteproduct request=request  %}
									</span>

								</div>
								<div>
                                    {% if product.beExist == 'True' %}
                                        <p>
                                            <strong>موجودی:</strong>  <span style="color: green;text-shadow: 0px 0px 10px green">در انبار موجود میباشد</span>
                                        </p>
                                    {% else %}
                                        <p>
                                            <strong>موجودی:</strong>  <span style="color: red;text-shadow: 0px 0px 10px red">در انبار موجود نمیباشد</span>
                                        </p>
                                    {% endif %}
									<p><b>فروشنده :</b> {{ product.seller.shopName   }}</p>
									<p><b>برنـد :</b> {{ product.brand.title }} </p>
									<p><b>دوختِ :</b> {{ product.brand.country }} </p>
								</div>
								<span class="socials-share share">
									<ul>
										<a href="https://t.me/{{ product.seller.telegram }}">
											<li>
												<label>تلگرام</label>
												<img src="{% static 'images/product-details/Telegram.png' %}">
											</li>
										</a>
										<a href="https://t.me/{{ product.seller.soroush }}">
											<li>
												<label>سـروش</label>
												<img src="{% static 'images/product-details/Soroush.png' %}">
											</li>
										</a>
										<a href="https://instagram.com/{{ product.seller.instagram }}">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static 'images/product-details/Instagram.png' %}">
											</li>
										</a>

									</ul>
								</span>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>

								<li><a href="#tag" data-toggle="tab"> برچسب</a></li>
								<li><a href="#reviews" data-toggle="tab"> نظرات ({{ comments.count }})</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details">
                                    <div class="col-sm-14">

                                            <div class="col-md-12" >
                                                <p style=" line-height: 30px;word-spacing: 5px;text-align: justify">{{ product.desc }}</p>
                                            </div>

                                    </div>
							</div>

                        <div><br><br><br>

                        </div>

							<div class="tab-pane fade" id="tag">
								<div class="col-sm-12">
									{% for tag in product.tags.all %}
                                            <span style="margin: 5px;padding: 4px;border-radius: 5px;background-color: orange;color: white">
                                                <a href="/products/search?query={{ tag }}" class="taglink" style="color: white;font-size: 15px"># {{ tag}}</a>
                                            </span>
                                    {% endfor %}
								</div>
							</div>

							<div class="tab-pane fade " id="reviews">
								<div class="col-sm-12">
                                    <div id="comments">
                                        {% for comment in comments %}
                                            {% include 'components/product_comment_component.html' with comment=comment %}
                                        {% endfor %}
                                        <p><b>نظـر خود را بنویسیـد</b></p>
                                    </div>

									<form method="post" id="commentForm">
                                        {% csrf_token %}
                                        <span>
                                          {{ commentform.name }}
                                          {{ commentform.email }}
                                        </span>
                                        {{commentform.text}}<br>
                                        <p><b>آیا این محصول را دوست داشتید؟</b></p>
                                        {{commentform.rate}}<br><br>
                                        <button style="border-radius: 5px" onclick="submiter()" class="btn btn-default pull-left">ثبت نظر</button>
                                        <script>
                                            function submiter(){
                                                {% if request.user.is_authenticated %}
                                                    document.getElementById('commentForm').submit();
                                                    alert('نظر شما با موفقیت ثبت شد☻');
                                                {% else %}
                                                    alert('برای ثبت نظر حتما باید وارد سایت شده باشید..!');
                                                {% endif %}
                                            }
                                        </script>
                                    </form>


								</div>
							</div>

						</div>
					</div><!--/category-tab-->

                    <br>
                    <hr>
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">{{ recomended_products.count }} محصولات پیشنهادی </h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for recomended_product_list in recomended_products %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        {% for recomended_product in recomended_product_list %}
                                            {% include 'components/product_item_component.html' with product=recomended_product %}
                                        {% endfor %}
                                    </div>
								{% endfor %}
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                            {% render_partial 'CategoryList_partial' %}
                            {% render_partial 'BrandList_partial' %}

						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <div class="slider slider-horizontal" style="width: 139px;"><div class="slider-track"><div class="slider-selection" style="left: 0.025%; width: 0.02%;"></div><div class="slider-handle round left-round" style="left: 0.025%;"></div><div class="slider-handle round" style="left: 0.045%;"></div></div><div class="tooltip top" style="top: -30px; left: -33.4513px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
								 <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
							</div>
						</div><!--/price-range-->


					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}